@(user: models.User, imageInfoList: Seq[ImageInfo], saveImage: Form[SaveImage], findImages: Form[FindImages])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@import helper.CSRF
@import helper._
@import b3.vertical.fieldConstructor
@admin(Messages("images.title"), Some(user)){
    <div class="image-info-list">
        @b3.formCSRF(action = controllers.nuts.routes.Images.save, 'enctype -> "multipart/form-data") {
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        @b3.file( saveImage("new-image"), '_label -> Messages("images.choose-image"), 'class -> "form-control" )
                        <!--<label for="new-image">@Messages("images.choose-image")</label>-->
                        <!--<input id="new-image" name="new-image" type="name" />-->
                        <input type="submit" id='save-btn' value='@Messages("images.save-to-db")' disabled/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well">
                                @b3.text(saveImage("name"),
                                    '_label -> Messages("images.alt-name"),
                                    '_id    -> "name"
                                )
                                @b3.text(saveImage("content"),
                                    '_label -> Messages("Content"),
                                    '_id    -> "content"
                                )
                                <!--<label for="name">@Messages("images.alt-name")</label>-->
                                <!--<input id="name" name="name" class="form-control form-control-inline"/>-->
                                <!--<label for="content">@Messages("Content")</label>-->
                                <!--<input id="content" name="content" class="form-control" />-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="well form-inline">
                                @defining(b3.inline.fieldConstructorSpecific) { implicit ifc =>
                                    @b3.number(saveImage("height"),
                                        '_label -> Messages("images.height"),
                                        '_id    -> "height"
                                    )
                                    @b3.number(saveImage("width"),
                                        '_label -> Messages("images.width"),
                                        '_id    -> "width"
                                    )
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!--</form>-->
        }
        <hr/>
        @b3.inline.formCSRF(action = controllers.nuts.routes.Images.find) { implicit ifc =>
            @b3.text( findImages("search"), '_label->"Search" )
            @defining( Seq("name"->"name", "content"->"content") ){ fruits =>
                @b3.select( findImages("what"), options = fruits, '_label -> "Select" )
            }
            <button type="submit">@Messages("Search")</button>
        }
        @if(imageInfoList.nonEmpty){
            <hr/>
            <form method="POST" action="@CSRF(controllers.nuts.routes.Images.edit)">
                <label for="rename">@Messages("images.rename-to")</label>
                <input id="rename" name="rename" />
                <select name="what" id="what2rename">
                    <option>name</option>
                    <option>content</option>
                </select>
                <input type="submit" name="action" value='@Messages("images.rename")' class="btn btn-default"/>
                <input type="submit" name="action" value='@Messages("images.delete")' class="btn btn-default"/>
                <div class="row">
                    @for(imageInfo <- imageInfoList){
                        <div class="image-info col-md-3">
                            <input type="radio" value='@{if(imageInfo.name.isEmpty) "" else imageInfo.name}' data-content="@imageInfo.content" name="imageChecked">
                            <span>@imageInfo.name (@imageInfo.content)</span><br>
                            <a href="/img/@imageInfo.name">
                                <img src="/img/@imageInfo.name" class="img-responsive"/>
                            </a>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
}
<script src="/assets/javascripts/editImages.js"></script>


