@(user: models.User, goodsItemForm: Form[GoodsItem], categories: Seq[Category])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper.CSRF
@import b3.vertical.fieldConstructor

@admin(Messages("itemEdit.title"), Some(user)){
    <input type="file" id="filepickuper" style="display: none"/>
    <form id="item-edit-form" method="POST" action="@CSRF(controllers.goods.routes.GoodsAdmin.itemEditFormHandle)">
        <strong>ID #@{goodsItemForm("id").value}</strong>
        <input type="hidden" id="id" name="id" value="@{goodsItemForm("id").value}"/>
        <input type="hidden" id="description" name="description" />
        @b3.select(goodsItemForm("category"),
            options = categories.map(c=>c.id.map(_.toString).getOrElse("")->c.name),
            '_label -> "Категория"
        )
        @b3.text(goodsItemForm("title"), '_label -> "Наименование")
        <div class="form-group">
            <label for="quilljs-edit" class="control-label">Описание</label>
            <br/>
            <button type="button" id="insert-pic" class="btn btn-primary">Вставить картинку</button>
            <div id="quilljs-edit" class="form-control">
                @{Html(goodsItemForm("description").value.getOrElse(""))}
            </div>
        </div>
        @b3.text(goodsItemForm("show-order"), '_label -> "Порядок сортировки")
        <img id="image-displayed" src="@controllers.images.routes.Images.getThumbnail(goodsItemForm("image").value.getOrElse(""))">
        @b3.text(goodsItemForm("image"), '_label -> "Картинка")
        <button type="button" id="search-images-btn">Поиск фото</button>
        <div id="search-images" class="row"></div>
        <!--BUTTONS-->
        <div class="btn-group btn-group-lg">
            <a href="@CSRF(controllers.goods.routes.GoodsAdmin.adminGoodsItem(goodsItemForm("id").value.map(_.toLong)))"
                class="btn btn-success">Обновить</a>
            @if(goodsItemForm("id").value.isDefined){
                <button type="submit" id="save-btn" name="action" value="save" class="btn btn-primary">Сохранить</button>
                <button type="submit" id="delete-btn" name="action" value="delete" class="btn btn-danger">Удалить</button>
            }
            <button type="submit" id="new-btn" name="action" value="new" class="btn btn-warning">Сохранить как новый сорт</button>
            <a href="@CSRF(controllers.blog.routes.Blog.article(goodsItemForm("id").value.map(_.toLong).getOrElse(0L)))" class="btn btn-success">Просмотреть</a>
        </div>
    </form>

    <!--<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet"/>-->
    <!--<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>-->
    <link href="/assets/styles/blogEdit.css" rel="stylesheet"/>
    <!-- Include the Quill library -->
    @Html(views.js.quill().toString())
    <script>
        var deleteButtonPressed = false;
        $(document).ready(function(){

            $('#item-edit-form').on('submit', function(){
                document.getElementById('description').value = document.getElementsByClassName('ql-editor')[0].innerHTML;
                if( deleteButtonPressed ){
                    var id = document.getElementById('id').value;
                    deleteButtonPressed = false;
                    return confirm('Delete item #'+id);
                } else {
                    return true;
                }
            });

            if(document.getElementById("delete-btn")){
                document.getElementById("delete-btn").addEventListener('click', (event) => {
                    deleteButtonPressed = true;
                });
            };

            // SEARCH IMAGES
            $('#search-images-btn').click(function() {
                $.get('@controllers.images.routes.ImagesAdmin.jsonAllImageInfo', function(listOfImages, status){
                   var searchImagesDiv = $('#search-images');
                   listOfImages.map((image) => {
                        const imageHref = '/img/150x150/'+image.name;
                        const img = $('<img />', {
                            src:   imageHref,
                            alt:   image.content,
                            click: function(){
                                $('#image').val(image.name);
                                $('#image-displayed').attr('src', imageHref);
                                $('#search-images').empty();
                            }
                        });
                        const div = $('<div />', {
                            class: "col col-sm-2",
                        });
                        div.append(img).append(
                            $('<span />', { text: image.content.slice(0, 22)})
                        ).appendTo(searchImagesDiv);
                    });
                });
            });
        });
    </script>
    <style>
    #description-edit{
        min-height: 500px;
        max-height: 400px;
        overflow: hidden;
        overflow-y: scroll;
        overflow-x: scroll;
    }
    </style>
}
