@(userOption: Option[models.User], goodsItems: Seq[models.nuts.Data.GoodsItem])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@* @import helper.CSRF *@

@main(Messages("blog.title"), userOption){
    @{if(goodsItems.length<=0){
        <div class="col-md-10 col-md-offset-2 alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Messages("There is no goods in the shop !")</strong>
        </div>
    }}
    <div class="row">
    @for((category, items)<-goodsItems.groupBy(_.category)){
        <h2 class="col col-sx-12 col-sm-12 col-md-12 col-ld-12">@category</h2>
        @for(item<-items){
            <article class="col col-sx-3 col-sm-3 col-md-3 col-ld-3">
                <a href="@controllers.nuts.routes.Goods.get(item.id.get)">
                    @if(item.image.isDefined){
                        <!--<img class="img-responsive" src="@controllers.nuts.routes.Images.get(item.image.get)"/>-->
                        <div style="background: url(@controllers.nuts.routes.Images.get(item.image.get)) center no-repeat; background-size:162px 162px;" class="cat_img">
                            <img width="162px" src="/assets/images/imgmaskt.png" alt="">
                        </div>
                        <div class="title">@item.title</div>
                    }
                    <!--<div class="image">-->
                        <!--<img src="@controllers.nuts.routes.Images.get(item.image.get)"/>-->
                        <!--<div class="text">-->
                            <!--@item.title-->
                        <!--</div>-->
                    <!--</div>-->
                </a>
            </article>
        }
        @*********
        <a href='@if(userOption.isDefined && userOption.get.isAdmin){
                    @controllers.nuts.routes.Blog.edit(article.id.get)
                } else {
                    @controllers.nuts.routes.Blog.article(article.id.get)
                }'
            class="article-title-href">
                @if(userOption.isDefined && userOption.get.isAdmin){
                    @article.title <br> #@article.id.get @article.sort_order
                } else {
                    @article.title
                }
        </a>
        <div class="article-short-text">@{article.short_text}</div>
        *************@
    }
    </div>

<!-- Include the Quill library -->
<!--<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet"/>-->
<!--<link href="/assets/styles/blogEdit.css" rel="stylesheet"/>-->
<!--<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>-->
}
