@import "./assets/stylesheets/bootstrap.scss";

/*
#save-btn{
    width: 1500px;
}
*/

.article-comment{
    width: 100%;
    height: auto;
}

.comments-edit-form{
    padding: 15px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 5px #ececea;
}


#search-form {
    @include make-row();

    #search-image {
         @include make-md-column(4);
    }

    #search-what-image {
        @include make-md-column(2);
    }

    #search-btn{
        @include make-md-column(1);
        @extand .btn;
        @extand .btn-primary;
        @extand .align-middle;
        //background-color: green;

    }
}

button#delete {
    @extend .btn-danger;
}

button#save {
    @extend .btn-primary;
}

a#add {
    @extend .btn;
    @extend .btn-default;
}


