@import "./assets/stylesheets/bootstrap.scss";

.main-html {
    background: url(/assets/images/bg.jpg);
}

.main-body {
    background: url(/assets/images/tree.png) center no-repeat;
    background-attachment:fixed;
    min-height: 576px;
    width: 100%;
};

.brand{
    min-height: 220px;
    background-image: url(/assets/images/header-new.png);

    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}


.navbar-upper{
     li a {
        font-weight: bold;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        text-shadow: 1px 1px 1px #000;
    }
    li a:hover {
        font-weight: bold;
        color: #3a4040;
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        text-shadow: 1px 1px 1px #fff;
        background-color: transparent;
    }
}

.navbar-lower {
    li > a {
        color: red;
        text-shadow: 1px 1px 5px yellow;
    }
    li > a:hover {
        font-weight: bold;
        text-shadow: 3px 3px 3px yellow;
    }
}

.navbar-toggle {
    float: left;
}

#navbar-upper-left{
    margin-top: 3%;
}


#navbar-upper-right{
    margin-top: 3%;
}


#navbar-lower{
    width: 100%;
}


.icon-bar{
    background-color: black;
};


@media (min-width: 1200px) {
    .container{
        max-width: 1060px;
    }
}


.content{
    width: 100%;
};

//////////////

.article {
    width: 100%;
}

#article-comment{
    width: 100%;
    height: 100%;
}

.article-title-href {
    color: #542cc5;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.article-short-text{
     line-height: 18px;
}

.article-text {
    margin: 50px 0;
    font-size: 14px;
    line-height:19px;

}

.feedtext {
    padding: 15px;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 5px #ececea;
    font-size: 12px;
    //behavior: url(/PIE.htc);
}

.cat_img {
    border-radius: 100px;
    -moz-border-radius: 100px; /* Firefox */
    -webkit-border-radius: 100px; /* Safari, Chrome */
    background: #fff;
    width: 162px;
    height: 162px;
    background: url(/assets/images/imgmask.png) center no-repeat;
    z-index: 9999;
    background-size:162px 162px;
    //
    display: block;
    margin: 0 auto;
}

.cat_img img {
    margin: 0 auto;
}


.someitem {
    width: 292px;
        border-radius: 300px;
    -moz-border-radius: 300px; /* Firefox */
    -webkit-border-radius: 300px; /* Safari, Chrome */
    behavior: url(/PIE.htc);
}

.title {
    color: #975c22;
    font-size: 17px;
    //width: 152px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

