@(user: models.User, article: Form[Article], errors: Map[String, String]=Map.empty[String, String])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper.CSRF

@admin(Messages("title"), Some(user)){
    @{errors.map{ case (key, errorMsg)=>
    <div class="col-md-10 col-md-offset-2 alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{Messages("error")} {Messages(s"blog.$key")} => {errorMsg}</strong>
    </div>
    }}
    <input type="file" id="filepicker" style="display: none"/>
    <form id="article-edit-form" method="POST" action="@CSRF(controllers.blog.routes.BlogAdmin.onSubmit)">
        <strong>ID #@{article("id").value}</strong>
        <input type="hidden" id="id" name="id" value="@{article("id").value}"/>
        <input type="hidden" id="blog-text" name="blog-text" />
        <input type="hidden" id="blog-short-text" name="blog-short-text" />
        <div class="form-group">
            <label for="title" class="control-label">@Messages("blog.title")</label>
            <input type="text" id="title" name="title" value='@{article("title").value}'
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">@Messages("blog.description")</label>
            <textarea type="text" id="description" name="description" class="form-control">@{article("description").value}</textarea>
        </div>
        <div class="form-group">
            <label for="quilljs-edit" class="control-label">@Messages("blog.article-text")</label>
            <br/>
            <button type="button" id="insert-pic" class="btn btn-primary">Вставить картинку</button>
            <div id="quilljs-edit" class="form-control">
                @{Html(article("blog-text").value.getOrElse(""))}
            </div>
        </div>
        <div class="form-group">
            <label for="keywords" class="control-label">@Messages("blog.keywords")</label>
            <textarea type="text" id="keywords" name="keywords" class="form-control">@article("keywords").value</textarea>
        </div>
        <div class="form-group">
            <label for="sort-order" class="control-label">@Messages("blog.sort-order")</label>
            <input type="text" id="sort-order" name="sort-order" value='@{article("sort-order").value}'
                   class="form-control"/>
        </div>
        <!--BUTTONS-->
        <div class="btn-group btn-group-lg">
            <button type="submit" id="new-btn" name="action" value="new" class="btn btn-warning">@Messages("blog.save-as-new")</button>
            @if(article("id").value.isDefined){
                <button type="submit" id="save-btn" name="action" value="save" class="btn btn-primary">@Messages("blog.save-article")</button>
                <button type="submit" id="delete-btn" name="action" value="delete" class="btn btn-danger">@Messages("blog.delete-article")</button>
            }
        </div>
    </form>


    <!-- Include the Quill library -->
    @Html(views.js.quill().toString())
    <script>

        $(document).ready(function(){
            $('#article-edit-form').on('submit', function(){
                    document.getElementById('blog-text').value = document.getElementsByClassName('ql-editor')[0].innerHTML;
                    document.getElementById('blog-short-text').value = quill.getText(0, 222);
                    if( deleteButtonPressed ){
                        let id = document.getElementById('id').value;
                        deleteButtonPressed = false;
                        return confirm('Delete article #'+id);
                    } else {
                        return true;
                    }
                });

                if(document.getElementById("delete-btn")){
                    document.getElementById("delete-btn").addEventListener('click', (event) => {
                        deleteButtonPressed = true;
                    });
                };
        });
    </script>
    <style>
        textarea#keywords {
            height: 4em;
        }
    </style>
}
