@(userOption: Option[models.User], articles: Seq[models.blog.Data.Article])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)

@main(Messages("Статьи"), userOption){
    @{if(articles.length<=0){
        <div class="col-md-10 col-md-offset-2 alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>No blog is found in DB, so it's nothing to display. Please contact administrator!</strong>
        </div>
    }}
    @for(article<-articles){
        <br>
        <a href='@controllers.blog.routes.Blog.article(article.id.get)' class="article-title-href">
            @if(userOption.isDefined && userOption.get.isAdmin){
                @article.title <br> #@article.id.get @article.sort_order
            } else {
                @article.title
            }
        </a>
        <div class="article-short-text">@{article.short_text}</div>
    }

<!-- Include the Quill library -->
<!--<link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet"/>-->
<!--<link href="/assets/styles/blogEdit.css" rel="stylesheet"/>-->
<!--<script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>-->
}
