@(user: models.User, comments: Seq[CommentInfo], commentsShowForm: Form[CommentsShow], errors: Map[String, String]=Map.empty[String, String])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper.CSRF

@admin(Messages("title"), Some(user)){
    @{errors.map{ case (key, errorMsg)=>
    <div class="col-md-10 col-md-offset-2 alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{Messages("error")} {Messages(s"blogEdit.$key")} => {errorMsg}</strong>
    </div>
    }}
    <div class="panel panel-info">
        <div class="panel-heading">Фильтр & сортировка</div>
        <div class="panel-body">
            <form class="form-inline" method="get" action="@controllers.blog.routes.Comments.commentsAdmin">
                @helper.select(
                    field = commentsShowForm("article-id"),
                    options = comments.groupBy(a => (a.articleID.toString, a.articleTitle)).keys.toSeq,
                    '_label -> "Фильтр",
                    '_default -> "Все статьи",
                    '_class -> "form-group"
                )
                @helper.select(
                    field = commentsShowForm("comments-order"),
                    options = Seq("byArticle" -> Messages("By article"), "byID" -> Messages("By comment ID")),
                    '_label -> "Сортировка",
                    '_class -> "form-group"
                )
                <button type="submit" class="btn btn-primary">Применить</button>
            </form>
        </div>
    </div>
    @for(comment <- comments){
        <form class="comments-edit-form" method="POST" action="@CSRF(controllers.blog.routes.Comments.deleteOrUpdateComment)">
            <!--@helper.CSRF.formField-->
            <a href="@controllers.blog.routes.Blog.article(comment.articleID)" class="form-group">#@comment.articleID @comment.articleTitle</a>
            <h5 class="form-group">@comment.fullName @comment.userEmail.map(e=>s"<$e>") (#@comment.id from @comment.added)</h5>
            <input type="hidden" name="comment-id" value="@comment.id"/>
            <textarea name="comment-text" rows="5" class="article-comment">@comment.text</textarea>
            <button type="submit" class="btn btn-danger" name="action" value="del">@Messages("Delete")</button>
            <button type="submit" class="btn btn-warning" name="action" value="upd">@Messages("Update")</button>
        </form>
    }
}
