@(user: models.User, article: Form[models.nuts.Data.Article], errors: Map[String, String]=Map.empty[String, String])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper.CSRF

@main(Messages("editArticle.title"), Some(user)){
    @{errors.map{ case (key, errorMsg)=>
    <div class="col-md-10 col-md-offset-2 alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>{Messages("error")} {Messages(s"editArticle.$key")} => {errorMsg}</strong>
    </div>
    }}

    <form id="article-edit-form" method="POST" action="@CSRF(controllers.nuts.routes.Blog.onSubmit)">
        <strong>ID #@{article("id").value}</strong>
        <input type="hidden" id="id" name="id" value="@{article("id").value}"/>
        <input type="hidden" id="blog-text" name="blog-text" />
        <input type="hidden" id="blog-short-text" name="blog-short-text" />
        <input type="hidden" id="action" name="action" />
        <div class="form-group">
            <label for="title" class="control-label">@Messages("editArticle.title")</label>
            <input type="text" id="title" name="title" value='@{article("title").value}'
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">@Messages("editArticle.description")</label>
            <textarea type="text" id="description" name="description" class="form-control">@{article("description").value}</textarea>
        </div>
        <div class="form-group">
            <label for="blog-edit" class="control-label">@Messages("editArticle.article-text")</label>
            <div id="blog-edit" class="form-control">
                @{Html(article("blog-text").value.getOrElse(""))}
            </div>
        </div>
        <div class="form-group">
            <label for="keywords" class="control-label">@Messages("editArticle.keywords")</label>
            <input type="text" id="keywords" name="keywords" value='@{article("keywords").value}'
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="sort-order" class="control-label">@Messages("editArticle.sort-order")</label>
            <input type="text" id="sort-order" name="sort-order" value='@{article("sort-order").value}'
                   class="form-control"/>
        </div>
        <!--BUTTONS-->
        <div class="btn-group btn-group-lg">
            <button type="button" id="new-btn" class="btn btn-warning">@Messages("editArticle.save-as-new")</button>
            @if(article("id").value.isDefined){
                <button type="button" id="save-btn" class="btn btn-primary">@Messages("editArticle.save-article")</button>
                <button type="button" id="delete-btn" class="btn btn-danger">@Messages("editArticle.delete-article")</button>
            }
        </div>
    </form>

    <!-- Include the Quill library -->
    <link href="https://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet"/>
    <link href="/assets/styles/editArticle.css" rel="stylesheet"/>
    <script src="https://cdn.quilljs.com/1.2.0/quill.js"></script>
    <!--<script src="/assets/javascripts/editArticle.js"></script>-->
    <script>
        @Html(views.js.blog.editArticle.render().toString())
    </script>
}
